<h1 class="title">Приложение '{{ title }}' для запоминания иностранных слов</h1>
<p>Выбери язык в настройках, который хочешь изучить. <br> Переводи новые слова, добавляй слова в словарь и проходи упражнения! <br>
Результат не заставит себя ждать</p>
<nav class="cw-nav">
    <a class="cw-nav__item" routerLink="/new-words" routerLinkActive="cw-nav__item--active">Новые слова</a>
    <a class="cw-nav__item" routerLink="/praxis" routerLinkActive="cw-nav__item--active">Упражнения</a>
    <a class="cw-nav__item" routerLink="/settings" routerLinkActive="cw-nav__item--active">Настройки</a>
</nav>
<router-outlet></router-outlet>
